
<div class="login-form-container">
  <header class="col-md-12 login-header" style="text-align:center;"><strong>Login</strong>
  </header>
  <div class="container-body">     
     <form (submit)="login()" [noValidate]="false">  
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" name="username" class="form-control" [(ngModel)]="credentials.username" placeholder="" id="usr" required>            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="credentials.password" placeholder="" id="pwd" required>            
            </div>
        </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <button class="btn btn-default login-submit" type="submit">Submit</button>
      </div>
    </div>
</form>
    <!-- <div class='row'>
      <div class='col'>
          <a data-toggle="modal" data-target="#basicExample" (click)="side.show()" mdbRippleRadius>Forgot password ?</a>
      </div>
    </div> -->
    <div class="row error-message">
        <div class="col">
                <b>Wrong username/password entered</b>
        </div>
        
    </div>
  </div>
</div>
<!-- <div mdbModal #side="mdb-modal" class="modal fade right" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Reset Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="side.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-right">
                <div class="form-group text-left">
                    <label for="usr">Registered Email:</label>
                    <input type="email" class="form-control" [(ngModel)]="emailForPassReset" id="email">            
                </div>
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="side.hide()" mdbRippleRadius>Cancel</button>
                <button type="button" class="btn btn-primary waves-light" mdbRippleRadius style="margin-right: 0" (click)="checkRegisteredEmail()">Proceed</button>
            </div>
        </div>
    </div>
</div>
<div mdbModal #resetPass="mdb-modal" class="modal fade right" id="resetModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-bottom-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Reset Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetPass.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-right">
                <div class="form-group text-left">
                    <label for="usr">New password:</label>
                    <input type="text" class="form-control" [(ngModel)]="newPassword" id="pass">            
                </div>
                <div class="form-group text-left">
                    <label for="usr">Confirm new password:</label>
                    <input type="text" class="form-control" [(ngModel)]="confirmPassword" id="confirmPass">            
                </div>
                <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="resetPass.hide()" mdbRippleRadius>Cancel</button>
                <button type="button" class="btn btn-primary waves-light" mdbRippleRadius style="margin-right: 0" (click)="resetPass.show()">Proceed</button>
            </div>
        </div>
    </div>
</div> -->