<div class="container terms_use_text">
 <div class="cont_header_container"> 
   <h3 class="cont_header">Privacy Policy</h3>  
 </div>
 
<div class="row">   
  
<div class="col-md-12 col-sm-12 col-xs-12">

<p><span>This privacy policy sets out how Beti Bachao Beti Padhao uses and protects any information that you give while you use this website.</span></p>
<p><span>Beti Bachao Beti Padhao is committed to ensuring that your privacy is protected. When we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</span></p>
<p><span>Beti Bachao Beti Padhao may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. </span></p>
<h3>What we collect</h3>
<p><span>While using our Site, we may ask you to provide us with certain Personal Information (information that can be used to contact or identify you) and Non-Personal Information. </span></p>

<h3>What we do with the information we gather</h3>
<p><span>Except as otherwise stated in this privacy policy, we do not sell, trade, rent or otherwise share for marketing purposes your personal information with third parties without your consent. In general, the Personal Information you provide to us is used to help us communicate with you. &nbsp;For example, we use Personal Information to contact users in response to questions, solicit feedback from users, provide technical support, and inform users about promotional offers.</span></p>

<h3>Security</h3>
<p><span>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure,</span> <span style="font-weight: 400;">we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. </span></p>

<h3>Why we use cookies</h3>
<p><span>The site may use cookies to enhance users&rsquo; experience. Cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. The user may choose to set their web browser to refuse Cookies or alert the user when the Cookies are being sent. However, this may prevent you from taking full advantage of the website.</span></p>

<h3>Links to other websites</h3>
<p><span>At many places in this website, you will find links to other websites/ portals. These links have been placed for your convenience. Beti Bachao Beti Padhao has no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</span><br /><br /></p>
<h3>Copyright Policy</h3>
<p><span>This website and its content is copyright of Beti Bachao Beti Padhao - &copy; Beti Bachao Beti Padhao 2018. All rights reserved.</span></p>
<p><span>Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</span></p>
<ul>
<li><span>You may reproduce the content partially or fully, with duly &amp; prominently acknowledging the source. </span></li>
</ul>
<p><span>However, the permission to reproduce any material that is copyright of any third party has to be obtained from the copyright holders concerned. </span><span style="font-weight: 400;">The contents of this website cannot be used in any misleading or objectionable context or derogatory manner.</span></p>

<!-- <h3>Contact Us</h3>
<p style="text-align: justify;">If the users have any question, concerns or consent, they would write to us at:<br>
  Siddha Development and Research Consultancy<br>
  A/63, Industrial Area, Kharabela Nagar,<br>
  Bhubaneswar,<br>
  Odisha – 751001<br>
  Phone: 0674 238 0804<br>
  Fax: +91674 238 0804<br>
  Email: info@sdrc.co.oin<br>
  <span>Website:</span> <a href="http://www.sdrc.co.in/" target="_blank">www.sdrc.co.in</a></p> -->
</div>
</div>
</div>